body{
    background-color: #326da8;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: #203952;
}

nav button{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    font-size: 2.5vh;
    border: 0;
    border-radius: 20px;
    background-color: #004991;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

nav button:hover{
    background-color: #0075e8;
}

nav h1{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 5vh;
    margin-bottom: 10px;
    color: white;   
}

.books{
    flex-direction: column;
    display: flex;
    color: white;
    font-size: 3vh;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: #004991;
    border-radius: 10px;
    width: 25vw;
    text-align: center;
}

.books h1{
    margin-top: 10vh;
    font-weight: bold;
    padding-bottom: 0.8vh;
}

.books h2{
    padding-bottom: 5vh;
    font-size: 2vh;
}

#container{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

#tracker{
    background-color: #0c4966;
    color: white;
    font-size: 2vh;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.delButton{
    border-radius: 15px;
    border: 0;
    font-size: 2vh;
    width: 35%;
    background-color: #a32e2e;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.delButton:hover{
    background-color: #f76060;
    
}

.readButton{
    border-radius: 15px;
    border: 0;
    font-size: 2vh;
    width: 35%;
    background-color: #3c6b49;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.notreadButton{
    border-radius: 15px;
    border: 0;
    font-size: 2vh;
    width: 35%;
    background-color: yellow;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.readButton:hover{
    background-color: #70b383;
}

.buttons{
    margin-top: 20%;
    display: flex; 
    justify-content: space-between;
} 

#trackerText{
    padding-bottom: 0.8vh;
}



@media only screen and (max-width: 1100px) {
    .books{
        width: 85%;
        padding-left: 5%;
    }
    nav button{
        font-size: 2.2vh;
        
    }
    .delButton{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .readButton{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .books h1{
        padding-bottom: 1vh;
    }
    nav{
        padding-top: 2vh;
        padding-bottom: 2vh;
    }
    .books{
        margin-left: 0;
    }
    #trackerText{
        padding-bottom: 1vh;
    }
  }

  @media only screen and (min-width: 1101px) {
      .books{
          width: 40%;
      }
  }

  @media only screen and (min-width: 1800px) {
    .books{
        width: 25vw;
    }
}